/*
Nick Milo's Callout Pack for Obsidian (Version: 1.0)
> A cool collection of compelling callouts.

Pay it forward. Support an Obsidian developer.

Theme Code is distributed under the MIT License.

Special code is added to work with the Prism theme by Damian Korcz <https://github.com/damiankorcz>

COLOR LISTS

PURPLE: Calendar, Globe, Industry, Network, Orbit, Venetian, Video
CYAN: Blocks, Map, Radar, Rocket, Planet, User
ORANGE: Book, Boxes, Compass, Keaton, Shell, Tram-front
YELLOW: Combine, Connect, Puzzle, Sparkles, Sun
GREY: Box, Command, Cross, Hexagon, Link, Script, Notes
PINK: Activity, Joystick, Milestone, Rainbow, Tower 
MINT: Cable-car, Castle, Combo, Camera, Play, Recycle
GREEN: Bike, Contact, Leaf, Sprout, Train, Training, Trees
BLUE: Anchor, Locate-fixed, Parking-square, Sailboat, Ship, Shipwheel, Snowflake
RED: Award, Cone, Fingerprint, Watch

-------------
*/

/* activity */

.callout[data-callout="activity"] {
    --callout-color: 233, 124, 238;
    --callout-icon: activity;
}

.prism-theme .callout[data-callout="activity"] > .callout-title {
    color: var(--color-pink-text);
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

.prism-theme .callout[data-callout="activity"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-pink-text);
}

.prism-theme .callout[data-callout="activity"] > .callout-content {
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

/* anchor */

.callout[data-callout="anchor"] {
    --callout-color: 64, 192, 87;
    --callout-icon: anchor;
}

.prism-theme .callout[data-callout="anchor"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="anchor"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="anchor"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}


/* award */

.callout[data-callout="award"] {
    --callout-color: 250, 82, 82;
    --callout-icon: award;
}

.prism-theme .callout[data-callout="award"] > .callout-title {
    color: var(--color-red-text);
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}

.prism-theme .callout[data-callout="award"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-red-text);
}

.prism-theme .callout[data-callout="award"] > .callout-content {
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}

/* bike */
.callout[data-callout="bike"] {
    --callout-color: 64, 192, 87;
    --callout-icon: bike;
}

.prism-theme .callout[data-callout="bike"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="bike"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="bike"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

/* blocks */
.callout[data-callout="blocks"] {
    --callout-color: 77, 171, 247;
    --callout-icon: blocks;
}

.prism-theme .callout[data-callout="blocks"] > .callout-title {
    color: var(--color-cyan-text);
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

.prism-theme .callout[data-callout="blocks"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-cyan-text);
}

.prism-theme .callout[data-callout="blocks"] > .callout-content {
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}


/* book */

.callout[data-callout="book"] {
    --callout-color: 255, 146, 43;
    --callout-icon: book;
}

.prism-theme .callout[data-callout="book"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="book"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="book"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

/* box */

.callout[data-callout="box"] {
    --callout-color: 134, 142, 150;
    --callout-icon: box;
}


.prism-theme .callout[data-callout="box"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="box"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="box"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}

/* boxes */

.callout[data-callout="boxes"] {
    --callout-color: 255, 146, 43;
    --callout-icon: boxes;
}

.prism-theme .callout[data-callout="boxes"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="boxes"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="boxes"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}




/* cable-car */

.callout[data-callout="cable-car"] {
    --callout-color: 18, 184, 134;
    --callout-icon: cable-car;
}

.prism-theme .callout[data-callout="cable-car"] > .callout-title {
    color: var(--color-mint-text);
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="cable-car"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="cable-car"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}




/* calendar */

.callout[data-callout="calendar"] {
    --callout-color: 151, 117, 250;
    --callout-icon: calendar-days;
}


.prism-theme .callout[data-callout="calendar"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="calendar"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="calendar"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}


/* camera */

.callout[data-callout="camera"] {
    --callout-color: 18, 184, 134;
    --callout-icon: camera;
}

.prism-theme .callout[data-callout="camera"] > .callout-title {
    color: var(--color-mint-text);
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="camera"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="camera"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}


/* castle mint */
.callout[data-callout="castle"] {
    --callout-color: 18, 184, 134;
    --callout-icon: castle;
}

.prism-theme .callout[data-callout="castle"] > .callout-title {
    color: var(--color-mint-text);
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="castle"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="castle"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

/* castle orange */
.callout[data-callout="castleo"] {
    --callout-color: 18, 184, 134;
    --callout-icon: castle;
}

.prism-theme .callout[data-callout="castleo"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="castleo"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="castleo"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

/* combine */

.callout[data-callout="combine"] {
    --callout-color: 199, 196, 0;
    --callout-icon: combine;
}

.prism-theme .callout[data-callout="combine"] > .callout-title {
    color: var(--color-yellow-text);
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

.prism-theme .callout[data-callout="combine"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-yellow-text);
}

.prism-theme .callout[data-callout="combine"] > .callout-content {
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}


/* combo */

.callout[data-callout="combo"] {
    --callout-color: 18, 184, 134;
    --callout-icon: gamepad;
}

.prism-theme .callout[data-callout="combo"] > .callout-title {
    color: var(--color-mint-text);
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="combo"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="combo"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

/* command */

.callout[data-callout="command"] {
    --callout-color: 134, 142, 150;
    --callout-icon: command;
}


.prism-theme .callout[data-callout="command"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="command"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="command"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}

/* compass */

.callout[data-callout="compass"] {
    --callout-color: 255, 146, 43;
    --callout-icon: compass;
}

.prism-theme .callout[data-callout="compass"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="compass"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="compass"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

/* cone */

.callout[data-callout="cone"] {
    --callout-color: 250, 82, 82;
    --callout-icon: traffic-cone;
}

.prism-theme .callout[data-callout="cone"] > .callout-title {
    color: var(--color-red-text);
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}

.prism-theme .callout[data-callout="cone"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-red-text);
}

.prism-theme .callout[data-callout="cone"] > .callout-content {
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}

/* connect */

.callout[data-callout="connect"] {
    --callout-color: 199, 196, 0;
    --callout-icon: share-2;
}

.prism-theme .callout[data-callout="connect"] > .callout-title {
    color: var(--color-yellow-text);
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

.prism-theme .callout[data-callout="connect"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-yellow-text);
}

.prism-theme .callout[data-callout="connect"] > .callout-content {
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

/* contact */

.callout[data-callout="contact"] {
    --callout-color: 233, 124, 238;
    --callout-icon: contact;
}

.prism-theme .callout[data-callout="contact"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="contact"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="contact"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

/* cross */

.callout[data-callout="cross"] {
    --callout-color: 134, 142, 150;
    --callout-icon: cross;
}

.prism-theme .callout[data-callout="cross"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="cross"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="cross"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}


/* fingerprint */

.callout[data-callout="fingerprint"] {
    --callout-color: 250, 82, 82;
    --callout-icon: fingerprint;
}

.prism-theme .callout[data-callout="fingerprint"] > .callout-title {
    color: var(--color-red-text);
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}

.prism-theme .callout[data-callout="fingerprint"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-red-text);
}

.prism-theme .callout[data-callout="fingerprint"] > .callout-content {
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}


/* globe */

.callout[data-callout="globe"] {
    --callout-color: 151, 117, 250;
    --callout-icon: globe;
}


.prism-theme .callout[data-callout="globe"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="globe"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="globe"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}


/* hexagon */

.callout[data-callout="hexagon"] {
    --callout-color: 134, 142, 150;
    --callout-icon: hexagon;
}

.prism-theme .callout[data-callout="hexagon"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="hexagon"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="hexagon"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}


/* industry */

.callout[data-callout="industry"] {
    --callout-color: 151, 117, 250;
    --callout-icon: building-2;
}

.prism-theme .callout[data-callout="industry"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="industry"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="industry"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

/* joystick */

.callout[data-callout="joystick"] {
    --callout-color: 233, 124, 238;
    --callout-icon: joystick;
}

.prism-theme .callout[data-callout="joystick"] > .callout-title {
    color: var(--color-pink-text);
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

.prism-theme .callout[data-callout="joystick"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-pink-text);
}

.prism-theme .callout[data-callout="joystick"] > .callout-content {
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

/* keaton */

.callout[data-callout="keaton"] {
    --callout-color: 255, 146, 43;
    --callout-icon: quote;
}

.prism-theme .callout[data-callout="keaton"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="keaton"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="keaton"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

/* leaf */

.callout[data-callout="leaf"] {
    --callout-color: 64, 192, 87;
    --callout-icon: leaf;
}

.prism-theme .callout[data-callout="leaf"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="leaf"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="leaf"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

/* link */

.callout[data-callout="link"] {
    --callout-color: 134, 142, 150;
    --callout-icon: link;
}

.prism-theme .callout[data-callout="link"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="link"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="link"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}


/* locate */

.callout[data-callout="locate"] {
    --callout-color: 64, 192, 87;
    --callout-icon: locate-fixed;
}

.prism-theme .callout[data-callout="locate"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="locate"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="locate"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}



/* map */

.callout[data-callout="map"] {
    --callout-color: 77, 171, 247;
    --callout-icon: map;
}

.prism-theme .callout[data-callout="map"] > .callout-title {
    color: var(--color-cyan-text);
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

.prism-theme .callout[data-callout="map"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-cyan-text);
}

.prism-theme .callout[data-callout="map"] > .callout-content {
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

/* milestone */

.callout[data-callout="milestone"] {
    --callout-color: 233, 124, 238;
    --callout-icon: milestone;
}

.prism-theme .callout[data-callout="milestone"] > .callout-title {
    color: var(--color-pink-text);
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

.prism-theme .callout[data-callout="milestone"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-pink-text);
}

.prism-theme .callout[data-callout="milestone"] > .callout-content {
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

/* network */

.callout[data-callout="network"] {
    --callout-color: 151, 117, 250;
    --callout-icon: network;
}

.prism-theme .callout[data-callout="network"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="network"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="network"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}


/* notes */

.callout[data-callout="notes"] {
    --callout-color: 134, 142, 150;
    --callout-icon: file-text;
}

.prism-theme .callout[data-callout="notes"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="notes"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="notes"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}

/* orbit */

.callout[data-callout="orbit"] {
    --callout-color: 151, 117, 250;
    --callout-icon: orbit;
}

.prism-theme .callout[data-callout="orbit"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="orbit"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="orbit"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

/* parking */

.callout[data-callout="parking"] {
    --callout-color: 64, 192, 87;
    --callout-icon: parking-square;
}

.prism-theme .callout[data-callout="parking"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="parking"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="parking"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}


/* planet */

.callout[data-callout="planet"] {
    --callout-color: 77, 171, 247;
    --callout-icon: globe-2;
}

.prism-theme .callout[data-callout="planet"] > .callout-title {
    color: var(--color-cyan-text);
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

.prism-theme .callout[data-callout="planet"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-cyan-text);
}

.prism-theme .callout[data-callout="planet"] > .callout-content {
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}


/* play */

.callout[data-callout="play"] {
    --callout-color: 18, 184, 134;
    --callout-icon: gamepad-2;
}

.prism-theme .callout[data-callout="play"] > .callout-title {
    color: var(--color-mint-text);
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="play"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="play"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

/* puzzle */

.callout[data-callout="puzzle"] {
    --callout-color: 199, 196, 0;
    --callout-icon: puzzle;
}

.prism-theme .callout[data-callout="puzzle"] > .callout-title {
    color: var(--color-yellow-text);
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

.prism-theme .callout[data-callout="puzzle"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-yellow-text);
}

.prism-theme .callout[data-callout="puzzle"] > .callout-content {
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

/* radar */

.callout[data-callout="radar"] {
    --callout-color: 34, 184, 207;
    --callout-icon: radar;
}

.prism-theme .callout[data-callout="radar"] > .callout-title {
    color: var(--color-cyan-text);
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

.prism-theme .callout[data-callout="radar"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-cyan-text);
}

.prism-theme .callout[data-callout="radar"] > .callout-content {
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

/* rainbow */

.callout[data-callout="rainbow"] {
    --callout-color: 233, 124, 238;
    --callout-icon: rainbow;
}

.prism-theme .callout[data-callout="rainbow"] > .callout-title {
    color: var(--color-pink-text);
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

.prism-theme .callout[data-callout="rainbow"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-pink-text);
}

.prism-theme .callout[data-callout="rainbow"] > .callout-content {
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

/* recycle */

.callout[data-callout="recycle"] {
    --callout-color: 18, 184, 134;
    --callout-icon: refresh-ccw;
}

.prism-theme .callout[data-callout="recycle"] > .callout-title {
    color: var(--color-mint-text);
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="recycle"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="recycle"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}


/* rocket */

.callout[data-callout="rocket"] {
    --callout-color: 34, 184, 207;
    --callout-icon: rocket;
}

.prism-theme .callout[data-callout="rocket"] > .callout-title {
    color: var(--color-cyan-text);
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

.prism-theme .callout[data-callout="rocket"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-cyan-text);
}

.prism-theme .callout[data-callout="rocket"] > .callout-content {
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

/* sailboat */

.callout[data-callout="sailboat"] {
    --callout-color: 64, 192, 87;
    --callout-icon: sailboat;
}

.prism-theme .callout[data-callout="sailboat"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="sailboat"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="sailboat"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

/* script */

.callout[data-callout="script"] {
    --callout-color: 134, 142, 150;
    --callout-icon: scroll;
}

.prism-theme .callout[data-callout="script"] > .callout-title {
    color: var(--color-grey-text);
    background-color: var(--color-grey-base);
    border-color: var(--color-grey-tint);
}

.prism-theme .callout[data-callout="script"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-grey-text);
}

.prism-theme .callout[data-callout="script"] > .callout-content {
    background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-grey-tint);
}


/* shell */

.callout[data-callout="shell"] {
    --callout-color: 255, 146, 43;
    --callout-icon: shell;
}

.prism-theme .callout[data-callout="shell"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="shell"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="shell"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

/* ship */

.callout[data-callout="ship"] {
    --callout-color: 64, 192, 87;
    --callout-icon: ship;
}

.prism-theme .callout[data-callout="ship"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="ship"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="ship"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

/* shipwheel */

.callout[data-callout="shipwheel"] {
    --callout-color: 64, 192, 87;
    --callout-icon: shipwheel;
}

.prism-theme .callout[data-callout="shipwheel"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="shipwheel"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="shipwheel"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

/* snowflake */

.callout[data-callout="snowflake"] {
    --callout-color: 64, 192, 87;
    --callout-icon: snowflake;
}

.prism-theme .callout[data-callout="snowflake"] > .callout-title {
    color: var(--color-blue-text);
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

.prism-theme .callout[data-callout="snowflake"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-blue-text);
}

.prism-theme .callout[data-callout="snowflake"] > .callout-content {
    background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-blue-tint);
}

/* sparkles */

.callout[data-callout="sparkles"] {
    --callout-color: 199, 196, 0;
    --callout-icon: sparkle;
}

.prism-theme .callout[data-callout="sparkles"] > .callout-title {
    color: var(--color-yellow-text);
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

.prism-theme .callout[data-callout="sparkles"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-yellow-text);
}

.prism-theme .callout[data-callout="sparkles"] > .callout-content {
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

/* sprout */

.callout[data-callout="sprout"] {
    --callout-color: 64, 192, 87;
    --callout-icon: sprout;
}

.prism-theme .callout[data-callout="sprout"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="sprout"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="sprout"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}


/* sun */

.callout[data-callout="sun"] {
    --callout-color: 199, 196, 0;
    --callout-icon: sun;
}

.prism-theme .callout[data-callout="sun"] > .callout-title {
    color: var(--color-yellow-text);
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}

.prism-theme .callout[data-callout="sun"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-yellow-text);
}

.prism-theme .callout[data-callout="sun"] > .callout-content {
    background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-yellow-tint);
}



/* train */

.callout[data-callout="train"] {
    --callout-color: 64, 192, 87;
    --callout-icon: train;
}

.prism-theme .callout[data-callout="train"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="train"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="train"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

/* training */

.callout[data-callout="training"] {
    --callout-color: 64, 192, 87;
    --callout-icon: dumbbell;
}

.prism-theme .callout[data-callout="training"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="training"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="training"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

/* tram-front */

.callout[data-callout="tram-front"] {
    --callout-color: 255, 146, 43;
    --callout-icon: tram-front;
}

.prism-theme .callout[data-callout="tram-front"] > .callout-title {
    color: var(--color-orange-text);
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

.prism-theme .callout[data-callout="tram-front"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-orange-text);
}

.prism-theme .callout[data-callout="tram-front"] > .callout-content {
    background-color: hsla(var(--color-orange-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-orange-tint);
}

/* trees */

.callout[data-callout="trees"] {
    --callout-color: 64, 192, 87;
    --callout-icon: trees;
}

.prism-theme .callout[data-callout="trees"] > .callout-title {
    color: var(--color-green-text);
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="trees"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="trees"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

/* tower-control */

.callout[data-callout="tower"] {
    --callout-color: 233, 124, 238;
    --callout-icon: tower-control;
}

.prism-theme .callout[data-callout="tower"] > .callout-title {
    color: var(--color-pink-text);
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}

.prism-theme .callout[data-callout="tower"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-pink-text);
}

.prism-theme .callout[data-callout="tower"] > .callout-content {
    background-color: hsla(var(--color-pink-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-pink-tint);
}


/* user */

.callout[data-callout="user"] {
    --callout-color: 77, 171, 247;
    --callout-icon: user;
}

.prism-theme .callout[data-callout="user"] > .callout-title {
    color: var(--color-cyan-text);
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

.prism-theme .callout[data-callout="user"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-cyan-text);
}

.prism-theme .callout[data-callout="user"] > .callout-content {
    background-color: hsla(var(--color-cyan-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-cyan-tint);
}

/* venetian */

.callout[data-callout="venetian"] {
    --callout-color: 151, 117, 250;
    --callout-icon: venetian-mask;
}

.prism-theme .callout[data-callout="venetian"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="venetian"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="venetian"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

/* video */

.callout[data-callout="video"] {
    --callout-color: 151, 117, 250;
    --callout-icon: clapperboard;
}

.prism-theme .callout[data-callout="video"] > .callout-title {
    color: var(--color-purple-text);
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}

.prism-theme .callout[data-callout="video"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-purple-text);
}

.prism-theme .callout[data-callout="video"] > .callout-content {
    background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-purple-tint);
}


/* watch */
.callout[data-callout="watch"] {
    --callout-color: 250, 82, 82;
    --callout-icon: watch;
}

.prism-theme .callout[data-callout="watch"] > .callout-title {
    color: var(--color-red-text);
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}

.prism-theme .callout[data-callout="watch"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-red-text);
}

.prism-theme .callout[data-callout="watch"] > .callout-content {
    background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-red-tint);
}



